body {
    margin: 0;
    padding: 20px 40px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

// #9B1A21 deep red
// #AC9270 gold
// font-family: 'PostGrotesk-Book', sans-serif; - description font